<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://unpkg.com/enter-view"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

	{{> base/meta}}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		<div class='intro'>
			<h1 class='intro__hed'>NBA Recordigami</h1>
			<p class='intro__dek'>Pioneering wins and losses in the regular season.</p>
			<p class='intro__byline'>By
				<a href='http://dnewcomb.com' class="link-text" target='_blank'>
					<strong>David Newcomb</strong>
				</a>
			</p>
			<time class='intro__time'>May 2021</time>
			<div class='intro__prelude'>
				<p>
	                In 2016, Jon Bois introduced the concept of <a href="https://www.sbnation.com/2016/12/7/13856392/chart-party-scorigami" class="link-text" target='_blank'>scorigami</a> for the NFL. He defined it as the "art of achieving a final score that has never happened before." I'd like to build on that idea and add <span class='bold'>recordigami</span> to the lexicon. Recordigami is the art of <span class='bold'>achieving a regular season team record that has never happened before</span>.<br><br>For example, the <a href="https://www.basketball-reference.com/teams/GSW/2016.html" class="link-text" target='_blank'>2015-16 Warriors</a> achieved recordigami by being the first team to reach a 73-9 final record. However, along the way they notched several other recordigamis, like being the first team to start 24-0. Their regular season really was an unprecedented journey. To learn more about the Season Triangle graph I used, visit my <a href="https://narro.design/html/nba-season-triangle.html" class="link-text" target='_blank'>previous article</a>. And to see how recordigami has evolved through NBA seasons, scroll below.
	            </p>
			</div>
			</div>
		</div>

		<section id='scrolly-side'>
			<div class='scrolly'>
				<figure class='sticky'>
					<div class="recordigami-container">
						<div id="recordigami-paths-wrapper" class="graphic-wrapper">
							<div id="basketball-autocomplete" class="autocomplete" >
								<img class="exit-icon" src="../assets/images/icons/exit_icon.png"></img>
					            <input type="text" class="form-control typeahead" id="basketball-team-input" placeholder="Choose your team">
					        </div>
						</div>
					</div>
				</figure>
				<article class='article'>
					<div class='step-intro' data-index='-2'></div>
					<div class='step' data-index='-1'>
						<div class='mobile-break'></div>
						<h1 id="header--1"></h1>
						<img class="large-image" src="../assets/images/icons/win_loss.png"></img>
						<br>
						<p>
							On <span class='legend-text-1'>November 1, 1946</span>, the New York Knicks beat the Toronto Huskies <a href="https://www.basketball-reference.com/boxscores/194611010TRH.html" target="_blank" class="link-text-1">68-66</a> in the first NBA game. This produced the league's original <span class='bold'>recordigami</span> pair - the first team to go <span class='bold'>1-0</span> and the first team to go <span class='bold'>0-1</span>.
						</p>
					</div>
					<div class='step' data-index='0'>
						<div class='mobile-break'></div>
						<h1 id="header-0"></h1>
						<div style="max-height: 4rem; display: flex">
							<img class="large-image"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Washington Capitols.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Providence Steamrollers.png"></img>
							<img class="large-image"></img>
						</div>								<br>
						<p>
							During the <span class='legend-text-1'>1940s</span>, the NBA regular season topped out at <span class='legend-text-1'>61</span> games. These years produced <span class='legend-text-1'>921</span> recordigamis, or about 30% of the all time total. Now defunct teams like the the <a href="https://www.basketball-reference.com/teams/WSC/" class='link-text-1' target='_blank'>Washington Capitols</a> and <a href="https://www.basketball-reference.com/teams/PRO/" class='link-text-1' target='_blank'>Providence Steamrollers</a> finished some of the best and worst early regular seasons.
						</p>
					</div>
					<div class='step' data-index='1'>
						<div class='mobile-break'></div>
						<h1 id="header-1"></h1>
						<div style="max-height: 4rem; display: flex">
							<img class="large-image"></img>
							<img class="large-image" src="../assets/images/logos/NBA/New York Knicks.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Detroit Pistons.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Boston Celtics.png"></img>
							<img class="large-image"></img>
						</div>						
						<br>
						<p>
							The <span class='legend-text-2'>1950s</span> saw a gradual expansion of the regular season to <span class='legend-text-2'>72</span> games. More games meant more possible records, which led to <span class='legend-text-2'>732</span> recordigamis. The only remaining team names from this era are the <a href="https://www.basketball-reference.com/teams/NYK/" class='link-text-2' target='_blank' target='_blank'>New York Knicks</a>, <a href="https://www.basketball-reference.com/teams/DET/" class='link-text-2' target='_blank'>Detroit Pistons</a> and <a href="https://www.basketball-reference.com/teams/BOS/" class='link-text-2' target='_blank'>Boston Celtics</a>.
						</p>
					</div>
					<div class='step' data-index='2'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/logos/NBA/Philadelphia 76ers.png"></img>
						<br>
						<h1 id="header-2"></h1>
						<p>
							In the <span class='legend-text-3'>1960s</span>, the schedule expanded again, reaching the NBA's modern standard of <span class='legend-text-3'>82</span> games by 1968. Helping the decade set its <span class='legend-text-3'>592</span> recordigamis was <a href="https://bleacherreport.com/articles/52066-are-the-1967-philadelphia-76ers-the-greatest-nba-championship-team" class="link-text-3" target='_blank'>Wilt Chamberlain's 76ers</a> team of 1966-67. Finishing <span class='legend-text-3'>68-13</span>, they set 58 recordigamis in a row, meaning about 72% of their season was unprecedented.
							
						</p>
					</div>
					<div class='step' data-index='3'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/logos/ABA/ABA.png"></img>
						<br>
						<h1 id="header-3"></h1>
						<p>
							In the <span class='legend-text-4'>1970s</span>, the NBA grew from 14 to 22 teams with the <a href="https://en.wikipedia.org/wiki/ABA%E2%80%93NBA_merger" class="link-text-4" target='_blank'>ABA-NBA merger</a>, resulting in <span class='legend-text-4'>295</span> more recordigamis. This decade saw the best and the worst: a <span class='legend-text-4'>69-13</span> <a href="https://en.wikipedia.org/wiki/1971%E2%80%9372_Los_Angeles_Lakers_season" class="link-text-4" target='_blank'>Lakers</a> title run and a <span class='legend-text-4'>9-73</span> <a href="https://en.wikipedia.org/wiki/1972%E2%80%9373_Philadelphia_76ers_season#:~:text=The%2076ers%20finished%20the%20season,Atlantic%20Division%20champion%20Boston%20Celtics." class="link-text-4" target='_blank'>76ers</a> trainwreck.
						</p>
					</div>
					<div class='step' data-index='4'>
						<div class='mobile-break'></div>
						<div style="max-height: 4rem; display: flex">
							<img class="large-image"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Boston Celtics.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Los Angeles Lakers.png"></img>
							<img class="large-image"></img>
						</div>						<br>
						<h1 id="header-4"></h1>
						<p>
							The <span class='legend-text-5'>1980s</span> filled in more gaps with <span class='legend-text-5'>141</span> recordigamis. They were spread across the excellent <a href="https://basketball.fandom.com/wiki/Celtics-Lakers_Rivalry" class="link-text-5" target='_blank'>Lakers and Celtics rivalry</a> at the top, and some rough Mavs, Cavs, and Heat teams at the bottom. By this point, the vast middle of recordigamis had been achieved.
						</p>
					</div>
					<div class='step' data-index='5'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/logos/NBA/Chicago Bulls.png"></img>
						<br>
						<h1 id="header-5"></h1>
						<p>
							The <span class='legend-text-6'>1990s</span> kept building on the positive and negative margins of possible records with <span class='legend-text-6'>143</span> recordigamis. On the plus side were the successes of the <a href="https://en.wikipedia.org/wiki/Chicago_Bulls#1984%E2%80%931998:_The_Michael_Jordan_era" class="link-text-6" target='_blank'>Michael Jordan Bulls</a>. Their best version set 36 recordigamis during their historic <span class='legend-text-6'>72-10</span> season of <a href="https://www.basketball-reference.com/teams/CHI/1996.html" class="link-text-6" target='_blank'>1995-96</a>.
						</p>
					</div>
					<div class='step' data-index='6'>
						<div class='mobile-break'></div>
						<div style="max-height: 4rem; display: flex">
							<img class="large-image"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Los Angeles Lakers.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Detroit Pistons.png"></img>
							<img class="large-image" src="../assets/images/logos/NBA/Dallas Mavericks.png"></img>
							<img class="large-image"></img>
						</div>
						<br>
						<h1 id="header-6"></h1>
						<p>
							With only <span class='legend-text-7'>11</span> recordigamis spread across the <span class='legend-text-7'>2000s</span>, the league stagnated a little. The Lakers, Pistons and Mavs filled in a couple positive gaps. Meanwhile, the <a href="https://www.basketball-reference.com/teams/NJN/2010.html" class="link-text-7" target='_blank'>2009-10 New Jersey Nets</a> set the NBA record for worst start in NBA history at <span class='legend-text-7'>0-18</span>.
						</p>
					</div>
					<div class='step' data-index='7'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/logos/NBA/Golden State Warriors.png"></img>
						<br>
						<h1 id="header-7"></h1>
						<p>
							Then came Steph Curry's <a href="https://en.wikipedia.org/wiki/2015%E2%80%9316_Golden_State_Warriors_season" class="link-text-8" target='_blank'>2015-16 Warriors</a>. They posted 52 recordigamis on the way to <span class='legend-text-8'>73-9</span>. No team had started 16-0 before, and they pushed that "best start" record all the way to 24-0. Meanwhile, the <a href="https://bleacherreport.com/articles/2729018-the-definitive-history-of-trust-the-process" class="link-text-8" target='_blank'>"Process" 76ers</a> tested the lower limits, contributing to the <span class='legend-text-8'>77</span> total recordigamis of the <span class='legend-text-8'>2010s</span>.
						</p>
					</div>
					<div class='step' data-index='8'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/icons/empty_set.png"></img>
						<br>
						<h1 id="header-8"></h1>
						<p>
							Due to COVID-19, the <span class='legend-text-9'>2020s</span> still have <span class='legend-text-9'>0</span> recordigamis. The past two incomplete seasons have provided little opportunity to achieve the unprecedented. If the <a href="https://www.theringer.com/nba/2021/1/14/22231412/james-harden-trade-brooklyn-nets" class="link-text-9" target='_blank'>Brooklyn Nets</a> stay together/healthy though, they do have the talent to push the boundary.
						</p>
					</div>
					<div class='step' data-index='9'>
						<div class='mobile-break'></div>
						<img class="large-image" src="../assets/images/icons/win_loss_triangle.png"></img>
						<br>
						<h1 id="header-9"></h1>
						<p>
							Now that we've caught up to the present day, keep scrolling down and see how your team has contributed to this history of recordigami.
						</p>
					</div>
					<div class="interactive-div", id="interactive-div">
						<div class='step-outro' data-index='10'><div class='mobile-break'></div></div>
						<div class='step-outro' data-index='11'><div class='mobile-break'></div></div>
						<div class='step-outro' data-index='12'><div class='mobile-break'></div></div>
						<div class='step-outro' data-index='13'><div class='mobile-break'></div></div>
					</div>
				</article>
			</div>
		</section>

		<svg x=0 y=0 width=55 height=55 style="display:none">
		 <filter id="grayscale">
		  <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/>
		 </filter>
		</svg>

 		<br>
		<script src="{{basepath}}assets/scripts/d3-delaunay.min.js"></script>
        <script src="{{basepath}}assets/scripts/d3.v5.js"></script>
        <script src="{{basepath}}assets/scripts/typeahead.bundle.js"></script>
	</main>

	{{> base/footer }}

	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
